<div class="form-group" style="margin:0 10px;">
  <%= form_with(model: @comment, local: true) do |form| %>

    <% if current_page?(posts_path) %>
      <div class="field">
        <%= form.text_area :text, id: :comment_text, class: "form-control", style: "display: block;", placeholder: "Enter comment" %>
      </div>

      <div class="field">
        <%= form.hidden_field :user_id, id: :comment_user_id, value: @current_user.id %>
      </div>

      <div class="field">
        <%= form.hidden_field :post_id, id: :comment_post_id, value: post.id %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-success" %>
      </div>
    <% else %>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="field">
            <%= form.text_area :text, id: :comment_text, class: "form-control", style: "display: block;", placeholder: "Enter comment" %>
          </div>

          <div class="field">
            <%= form.hidden_field :user_id, id: :comment_user_id, value: @current_user %>
          </div>

          <div class="field">
            <%= form.hidden_field :post_id, id: :comment_post_id, value: @comment.post_id %>
          </div>

          <div class="actions">
            <%= form.submit class: "btn btn-success" %>
            <%= link_to 'Delete', @comment,class: "btn btn-danger", style: "color: white;", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
</div>
