<div class="container-fluid" style="background: linear-gradient(#D3D8E8, white);">
  <div class="row" style="padding-top:20px;">
    <!-- <p id="notice"><%= notice %></p> -->
    <div class="col-md-3">
      <% if user_signed_in? %>
        <div class="card current-user">
          <div class="card-body">
            <% if current_user.provider.blank? %>
              <%= link_to image_tag(current_user.image_name, width: "100px", height: "100px", style: "border-radius:4px;"),
                          user_path(current_user.id) %>
            <% else %>
              <%= link_to image_tag(@auth['info']['image'], width: "100px", height: "100px", style: "border-radius:4px;"),
                          user_path(current_user.id) %>
            <% end %>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <table>
              <tr>
                <td><i class="fa fa-user"></i></td>
                <td><span><%= current_user.name %></span></td>
              </tr>
              <tr>
                <td><i class="fa fa-envelope"></i></td>
                <td><span><%= current_user.email %></span></td>
              </tr>
              <tr>
                <td><i class="fa fa-link"></i></td>
                <td><span><%= link_to("Your spot", current_user.blog) %></span></td>
              </tr>
              <tr>
                <td><i class="fa fa-calendar"></i></td>
                <td>
                  <span>
                    <% joined_date = current_user.created_at %>
                    Joined <%= joined_date.strftime(" %b %Y") %>
                  </span>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-map-marker"></i></td>
                <td><span><%= current_user.address %></span></td>
              </tr>
            </table>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= render 'form', post: @post %>

      <% @posts.each do |post| %>
        <div class="card users-post">
          <div class="row card-body">
            <div class="col-md-1 user-image" style="float: left;">
              <%= link_to image_tag(post.user.image_name, width: "50px", height: "50px", style: "border-radius:4px;"),
                  :controller => 'users', :action => 'show', :id => post.user.id %>
            </div>
            <div class="col-md-11" style="padding-left:30px;">
              <div class="post-header">
                <strong><%= post.user.name %></strong>
                <% t = post.updated_at %>
                <span style="font-style:italic;"><%= t.strftime(" %Y %b %d") %></span> <br>
              </div>
              <div class="post-content">
                <%= post.content %> <br>
                <div class="post-image" style="clear: left;">
                  <% unless post.image_name.blank? %>
                    <%= image_tag(post.image_name, width: "100%", height: "100%", style: "margin-top:10px;") %>
                  <% end %>
                </div>
                <div class="post-address">
                  <% unless post.address.blank? %>
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=15&markers=#{post.latitude}%2C#{post.longitude}" %>
                    <p> Address: <%= post.address %> </p>

                    <div id="map" style="width: 100%; height: 400px;"></div>
                    <style type="text/css">
                      #map {
                        width: 100%;
                        height: 400px;
                        margin-left:auto;
                        margin-right:auto;
                        text-align:left;
                        display: none;
                      }
                    </style>
                    <!-- <script>
                      handler = Gmaps.build('Google');
                      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                        markers = handler.addMarkers(<%= raw @hash.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                      });
                    </script> -->

                    <!-- <script>
                      var id = <%= post.id %>
                      var postedLatitude = <%= post.latitude %>
                      var postedLongitude = <%= post.longitude %>
                    </script>
                      <p class="posted-address" style="display:none;"></p>

                      <style type="text/css">
                        .posted-map {
                          width: 100%;
                          height: 400px;
                          margin-left:auto;
                          margin-right:auto;
                          text-align:left;
                          display: none;
                        }
                      </style>
                      <div class="posted-map"></div> -->
                  <% end %>
                </div>
              </div>

              <div class="post-link" style="display:block; padding-top:20px;">
                <!-- Like button -->
                  <%= render partial: 'likes/like_form', locals: { post: post } %>
                <!-- Comment button -->
                  <i class="fa fa-comment" id="comment-icon-<%= post.id %>"></i>
                  <%= Comment.where(post_id: post.id).count %>
                  <script>
                    $(document).ready(function(){
                      $('#comment-icon-<%= post.id %>').click(function(){
                        $('#comment-form-<%= post.id %>').fadeIn();
                      });
                    });
                  </script>
                <!-- Share button -->
                  <% if post.share_user(current_user) %>
                    <%= link_to share_path(id: Share.find_by(user_id: current_user.id), post_id: post.id), method: :delete do %>
                      <i class="fa fa-share"></i>
                    <% end %>
                  <% else %>
                    <%= link_to shares_path(post_id: post.id), method: :post do %>
                      <i class="fa fa-share"></i>
                    <% end %>
                  <% end %>
                  <%= post.shares_count %>
                <!-- post edit links -->
                <% if current_user.id == post.user.id %>
                  <ul style="float:right;">
                    <li><%= link_to 'Show', post %></li>
                    <li><%= link_to 'Edit', edit_post_path(post) %></li>
                    <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                  </ul>
                <% end %>
              </div>

              <% if post.shares_count != 0 and post.shares_count != nil %>
                <div class="shared-users">
                  <% shares = Share.where(post_id: post.id).order(updated_at: :desc) %>
                  <% shares.each do |share| %>
                    <%= link_to share.user do %>
                      <i><%= share.user.name %></i>
                    <% end %>
                  <% end %>
                  shared this post.
                </div>
              <% end %>
            </div>
          </div>

          <!-- Display comments -->
          <div id="comment-form-<%= post.id %>" style="display: none;">
            <hr>
            <%= render partial: "comments/form", locals: { post: post } %>  <!-- should be change comment form because it's default -->

            <!-- it might fail because all valuables are same -->
            <% comments = Comment.where(post_id: post.id).order(created_at: :asc) %>
            <% if comments.any? %>
              <% comments.each do |comment| %>
                <% if comment.user_id == post.user_id %>
                  <div class="balloon">
                    <figure class="balloon-image-left">
                      <%= image_tag(comment.user.image_name) %>
                      <figcaption class="balloon-image-description">
                        @<%= comment.user.name %>
                      </figcaption>
                    </figure>
                    <div class="balloon-text-right">
                      <p>
                        <%= comment.text %>
                      </p>
                    </div>
                  </div>
                <% else %>
                  <div class="balloon">
                    <figure class="balloon-image-right">
                      <%= image_tag(comment.user.image_name) %>
                      <figcaption class="balloon-image-description">
                        @<%= comment.user.name %>
                      </figcaption>
                    </figure>
                    <div class="balloon-text-left">
                      <p>
                        <%= comment.text %>
                      </p>
                    </div>
                  </div>
                <% end %>

                <!-- <div class="row" style="margin-left:5px;">
                  <div class="comments">
                    <div class="commented-user-name">

                    </div>
                    <div class="content" style="margin-left:10px; margin-bottom:10px;">

                    </div>
                  </div>
                </div> -->

              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <br>
    </div>

    <!-- Display friends of friends -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <i style="padding-left:20px; font-size:20px;">You may also like...</i> <br><br>
          <% if @fofs.blank? %>
            <div class="row">
              <div class="col-md-12" style="text-align:center;">
                <p style="opacity:0.4; font-size:15px;">We cannot recommend for some reasons.</p>
              </div>
            </div>
          <% else %>
            <% @fofs.each do |fof| %>
              <div class="row" style="margin-bottom:10px; margin-left:5px;">
                <%= link_to("/users/#{fof.id}") do %>
                <ul>
                  <li style="float:left; margin-right:10px; margin-right:10px;">
                    <div style="display: inline;">
                      <%= image_tag(fof.image_name, width: "60px", height: "60px", style: "border-radius:4px; display:inline;") %>
                    </div>
                  </li>
                  <li style="float:left; margin-right:10px; margin-right:10px;">
                    <div style="display: inline;">
                      <strong><%= fof.name %></strong><br>
                      <span><%= fof.email %></span><br>
                    </div>
                  </li>
                </ul>
                <% end %>
                <div class="stat">
                  <a href="<%= following_user_path(fof) %>">
                    <strong>
                      <%= fof.following.count %>
                    </strong>
                    following
                  </a>
                  <a href="<%= followers_user_path(fof) %>">
                    <strong>
                      <%= fof.followers.count %>
                    </strong>
                    followers
                  </a>
                </div>
              </div>
            <hr>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
